<nav class="navbar navbar-dark bg-dark">
  <a href="/" class="navbar-brand">Scraping Satire</a>
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button" id="scrapeAgain">See New Articles</button>
    <a href="./saved" class="btn btn-outline-success" role="button">View Saved Articles</a>
  </form>
</nav>

<div class="wrapper">
  <div class="jumbotron jumbotron-fluid shadow-lg p-3 mb-5 bg-white rounded" id="indexJumbotron">
    <div class="container jumboTitle">
      <h1>America's Finest News Scraper</h1>
      <h3>View the latest articles from America's Finest News Source, The Onion.</h3>
    </div>
  </div>
  <div class="container">
    {{#each dbArticle}}
    <div class="card bg-secondary mb-3 articles">
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <h4>{{this.title}}</h4>
            <p>{{this.summary}}</p>
            <a href={{this.link}} target="_blank">Read Full Article</a>
          </div>
          <div class="col-3">
            <!-- Delete Article Button -->
            <button type="button" class="btn btn-success toggleSaved" data-id={{this.id}}>
              Save Article
            </button>
            <!-- Button to trigger notes modal -->
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#noteModal">
              View Notes
            </button>
          </div>
        </div>
      </div>
    </div> <br>
    {{/each}}

    <!-- Modal for Notes-->
    {{#each dbArticle}}
    <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="notemodalLabel">{{this.title}}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{#if this.note}}
            <h5> Current Notes</h5>
            {{this.note}}
            {{/if}}
            {{!-- {{#unless}}
            <h5> It looks like we don't have any notes yet for this article!</h5>
            {{/unless}} --}}
            <h5>Add a Note</h5>

            <form class="create-form">

              <div class="form-group">
                <label for="noteAuthor">Author:</label>
                <input type="text" id="noteAuthor" name="author">
              </div>

              <div class="form-group">
                <label for="noteBody">Article Note:</label>
                <textarea id="noteBody" name="note" rows="3" cols="40"></textarea>
              </div>

              <button class="btn btn-sm btn-success" type="submit">Add Note</button>
            </form>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>